<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlets.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adminlog</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminDeleteUser</servlet-name>
    <servlet-class>servlets.AdminDeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteUser</servlet-name>
    <url-pattern>/deluser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBookRequestServlet</servlet-name>
    <servlet-class>servlets.AddBookRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookRequestServlet</servlet-name>
    <url-pattern>/reqbooks</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>PrintRequestsServlet</servlet-name>
    <servlet-class>servlets.PrintRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintRequestsServlet</servlet-name>
    <url-pattern>/printreq</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>PrintRequestsOther</servlet-name>
    <servlet-class>servlets.PrintRequestsOther</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintRequestsOther</servlet-name>
    <url-pattern>/printotherreq</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>PrintRequestsAdmin</servlet-name>
    <servlet-class>servlets.PrintRequestsAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintRequestsAdmin</servlet-name>
    <url-pattern>/adminreq</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>AdminAllUsers</servlet-name>
    <servlet-class>servlets.AdminAllUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAllUsers</servlet-name>
    <url-pattern>/allusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRemoveServlet</servlet-name>
    <servlet-class>servlets.UserRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRemoveServlet</servlet-name>
    <url-pattern>/delself</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AddMoney</servlet-name>
    <servlet-class>servlets.AddMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMoney</servlet-name>
    <url-pattern>/addmoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PasswordChange</servlet-name>
    <servlet-class>servlets.PasswordChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordChange</servlet-name>
    <url-pattern>/pwdchange</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>servlets.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>servlets.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/userreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveBookServlet</servlet-name>
    <servlet-class>servlets.RemoveBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBookServlet</servlet-name>
    <url-pattern>/remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>servlets.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/addbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewBookServlet</servlet-name>
    <servlet-class>servlets.ViewBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBookServlet</servlet-name>
    <url-pattern>/viewbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAdminBook</servlet-name>
    <servlet-class>servlets.ViewAdminBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdminBook</servlet-name>
    <url-pattern>/adminview</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ViewReview</servlet-name>
    <servlet-class>servlets.ViewReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReview</servlet-name>
    <url-pattern>/viewreview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyBooksServlet</servlet-name>
    <servlet-class>servlets.BuyBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyBooksServlet</servlet-name>
    <url-pattern>/buybook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReceiptServlet</servlet-name>
    <servlet-class>servlets.ReceiptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptServlet</servlet-name>
    <url-pattern>/buys</url-pattern>
  </servlet-mapping>
  <servlet>
<servlet-name>RemoveBookRequestServlet</servlet-name>
<servlet-class>servlets.RemoveBookRequestServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RemoveBookRequestServlet</servlet-name>
<url-pattern>/reqdelete</url-pattern>
</servlet-mapping>
    <servlet>
    <servlet-name>ReturnBookServlet</servlet-name>
    <servlet-class>servlets.ReturnBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookServlet</servlet-name>
    <url-pattern>/returnbook</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
        <servlet>
    <servlet-name>AddReview</servlet-name>
    <servlet-class>servlets.AddReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReview</servlet-name>
    <url-pattern>/addreview</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>